h1 {
    color: green;
}

.paragrafo {
    color: red;

}

#imagem {
    border-radius: 100%;
    width: 400px;
    height: 400px;
}

.profile-container {
    text-align: center;
    background-color: rgb(171, 229, 240);
    width: 500px;
    height: fit-content;
    margin: 0 auto;
    border: 2px solid black;
}

